<h1>Cassiopeia API</h1>
    <h3>How To Use</h3>
        <p>The endpoints follow a structure like so: <br>
            <h3>GET Requests</h3>
            <ul>
                <li>/employees/:id</li>
                <li>/disciplines/:id</li>
                <li>/assignments/:id</li>
                <li>/deliverables/:id</li>
                <li>/funding/:id</li>
                <li>/tasks/:id</li>
                <li>/sow/:id</li>
                <li>/indexView</li>
                <li>/projectView/:id</li>
                <li>/deliverableView/:id</li>
                <li>/taskView/:id</li>
            </ul>
        </p>