<h1>Cassiopeia API</h1>
    <h3>How To Use</h3>
        <p>The endpoints follow a structure like so: <br>
            <ul>
                <li>/employees/:id</li>
                <li>/disciplines/:id</li>
            </ul>
        </p>